.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100%;
    align-items: center;
    justify-content: center;
}

.myinput {
    margin-bottom: 10vh;
    width: 280px;
}

.App-logo{
    height: 200px;
    width: 240px;
}